*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 50px;
  min-height: 100vh;
  background-image: url('https://c4.wallpaperflare.com/wallpaper/431/731/827/autumn-leaves-surface-paper-wallpaper-preview.jpg');
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
}
  
.App {
  padding: 2rem;
  max-width: 50%;
  max-height: 50%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  background: #000000b2;
  border-radius: 20px;
  box-shadow: rgb(226, 11, 245) 0px 0px 1px 1px;
}

h1 {
  font-weight: 300;
  color:rgb(0, 255, 195);
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.input-wrapper {
  margin: 3.5rem;

}

.todos-wrapper {
  margin-bottom: 3.5rem;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

input {
  width: 450px;
  padding: 0.8em;
}

input:focus {
  outline: none;
}

button {
  margin-top: 2px;
  
  padding: 0.8em;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.1rem;
  
}

input,
button {
 
  font-size: 1em;
  appearance: none;
  color: currentcolor;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.add-button {
  color: #44c0b6;
  width: 200px;
  
}

.add-button:hover{
  background-color: #44c0b6;
  color: black;
  font-weight: bold;

}

.delete-button {
  width: 150px;
  color: #ffffff;
}

.delete-button:hover{
  background-color: rgb(40, 188, 40);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-color:rgb(255, 255, 255);
}

ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0px;
}

li {
  border-radius: 10px;
  width: 450px;
  padding: 0.85em;
  text-align: left;
  margin-bottom: 0.5rem;
  background: #494847;
  letter-spacing: 0.02rem;
  transition: all 0.3s ease-out;
  border-left: 20px solid #6fff00;
}

li:last-child {
  margin-bottom: 0px;
}

.empty {
  font-size: 20px;
  font-weight: 400;
  color: #ffa600;
  letter-spacing: 0.2rem;
}